<div id='container' ng-app='shortly.links'>
  <!-- Your html here -->
  <!-- <script id='layout' type='text/x-handlebars-template'> -->
    <div class='navigation'>
    <ul>
      <li><a href='#/links' class='index'>All Links</a></li>
      <li><a href='#/shorten' class='create'>Shorten</a></li>
    </ul>
      <a class='logout' ng-click='signout()'>Logout</a>
    </div>
    <div>
      <input type = 'text' ng-model='search' >
    </div>
  <!-- </script> -->

  <!-- <script id='link' type='text/x-handlebars-template'> -->
  <div class='link fade' ng-repeat='link in data.links | orderBy: "-visits" | filter:search' >
      <!-- custom directive: shortened link -->
      <div shortened-link></div>
  </div>
<!--   </script>
 -->
</div>
